<<<<<<< HEAD
.hidepassword { -webkit-text-security: disc; }

thead {background-color: gainsboro;}

h1{text-align: center;}
=======
thead {background-color: gainsboro;}

h1{text-align: center;}
>>>>>>> 2ea7b08b005df0143bbaf08bb2236aa27a0ae86b
